VITE_BACKEND_URL=
VITE_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
VITE_CHAIN_ID=11155111
VITE_NATIVE_TOKEN_KRW_RATE=1500000
VITE_MOA_FACTORY_ADDRESS=0x33d4123ac88792CFe81A8Ae818760C8008d29747
VITE_MOA_ACCOUNT_ADDRESS=
VITE_ATTACK_MODE=false
