DATABASE_URL="postgresql://moa:postgres@localhost:5433/moa?schema=public"
PORT=3000
FRONTEND_ORIGIN=http://localhost:5173
BLOCKCHAIN_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
MOA_FACTORY_ADDRESS=0x33d4123ac88792CFe81A8Ae818760C8008d29747
